{% extends "base.html" %}
{% load static %} 
{% block title %}
  GITESH
{% endblock %} 
{% block css_files %} 
<link rel="stylesheet" href="{% static "blog/post.css" %}"/>
<link rel="stylesheet" href="{% static "blog/index.css" %}"/> 
{% endblock %} 
{%block content %}
<header id="main-navigation">
  <h1><a href="{% url "starting-page" %}">Gitesh's Blog</a></h1>
  <h1><a href="">gitesh's blog</a></h1>
  <nav>
    <a href="{% url "posts-page" %}">all posts</a>
  </nav>
</header>
<section id="welcome">
  <header>
    <img src="{% static "blog/images/IMG_20211104_073130.jpg" %}" alt="Gitesh-the author of this blog" />
    <h2>Gitesh's Blog</h2>
  </header>
  <br />
  <p>hi, myself gitesh i am a excited guy !</p>
</section>
<section id="latest-posts">
  <h2>My latest Thoughts</h2>
  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>
<section id="about">
  <h2>what i do</h2>
  <p>i love programming , and hiking as well</p>
  <p>my goal is to keeping growing</p>
</section>
{% endblock %}



